@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0; }

.seccionUnoSneakers img, .seccionDosSneakers img {
  max-width: 500px;
  border-radius: 20px;
  box-shadow: 5px 5px 20px gainsboro; }

.seccionUnoSneakers, .seccionDosSneakers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  text-align: center; }

.header {
  grid-area: header;
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to left, #434343 0%, black 100%); }
  .header__ul {
    display: flex;
    margin-right: 50px; }
    .header__ul li {
      list-style: none;
      padding: 15px; }
      .header__ul li:hover {
        background-color: orangered;
        border-radius: 15px; }
      .header__ul li a {
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        font-family: "Open Sans", sans-serif;
        font-size: 18px; }

.footer {
  grid-area: footer;
  background-image: linear-gradient(to left, #434343 0%, black 100%);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px; }
  .footer h4 {
    padding: 10px;
    text-align: center;
    font-family: "Open Sans", sans-serif; }
  .footer i {
    padding-right: 20px;
    font-size: 25px; }

#index .grillaIndex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 4.5fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "header header header header" "seccionUnoIndex seccionUnoIndex seccionUnoIndex seccionUnoIndex" "footer footer footer footer"; }

#index .seccionUnoIndex {
  grid-area: seccionUnoIndex;
  display: flex; }
  #index .seccionUnoIndex .imgFondoDesktop {
    max-width: 100%; }
  #index .seccionUnoIndex .imgFondoMobile {
    display: none; }
  #index .seccionUnoIndex div {
    position: absolute;
    margin-top: 250px;
    margin-left: 50px; }
    #index .seccionUnoIndex div h1 {
      font-family: "Roboto", sans-serif;
      color: white;
      font-size: 100px;
      text-shadow: 1px 1px #989898; }
    #index .seccionUnoIndex div p {
      font-family: "Open Sans", sans-serif;
      color: white;
      font-size: 25px;
      max-width: 700px;
      text-shadow: 1px 1px #989898; }

.grillaIndex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1.5fr 1.5fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas: "header header header header" "seccionUnoSneakers seccionUnoSneakers seccionUnoSneakers seccionUnoSneakers" "seccionDosSneakers seccionDosSneakers seccionDosSneakers seccionDosSneakers" "footer footer footer footer"; }

.seccionUnoSneakers h2 {
  font-family: "Roboto", sans-serif; }

.seccionDosSneakers h2 {
  font-family: "Roboto", sans-serif; }

.grillaTiendas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0, 5fr 1.5fr 1.5fr 0.5fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "header header header header" "seccionUnoTiendas seccionUnoTiendas seccionDosTiendas seccionDosTiendas" "seccionUnoTiendas seccionUnoTiendas seccionDosTiendas seccionDosTiendas" "asideTiendas asideTiendas asideTiendas asideTiendas" "footer footer footer footer"; }
  .grillaTiendas section div {
    position: absolute;
    color: white;
    text-align: center;
    font-family: "Open Sans", sans-serif; }
    .grillaTiendas section div:hover {
      transform: scale(1.1); }
    .grillaTiendas section div h1 {
      padding-bottom: 25px; }
  .grillaTiendas section img {
    max-width: 100%; }

.seccionUnoTiendas {
  grid-area: seccionUnoTiendas;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; }

.seccionDosTiendas {
  grid-area: seccionDosTiendas;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; }

.asideTiendas {
  grid-area: asideTiendas;
  color: white;
  background-image: linear-gradient(to left, #434343 0%, black 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  font-family: "Roboto", sans-serif;
  text-align: center; }
  .asideTiendas h2 {
    padding: 50px; }

#nosotros .grillaNosotros {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0,5fr 0.5fr 1.5fr 1.5fr 1.5fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "header header header header" "encabezadoTitulo encabezadoTitulo encabezadoTitulo encabezadoTitulo" "seccionUnoNosotros seccionUnoNosotros seccionUnoNosotros seccionUnoNosotros" "seccionDosNosotros seccionDosNosotros seccionDosNosotros seccionDosNosotros" "seccionTresNosotros seccionTresNosotros seccionTresNosotros seccionTresNosotros" "footer footer footer footer"; }
  #nosotros .grillaNosotros .encabezadoTitulo {
    grid-area: encabezadoTitulo;
    text-align: center;
    padding: 50px;
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    color: black; }
  #nosotros .grillaNosotros .seccionUnoNosotros {
    grid-area: seccionUnoNosotros;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 100px; }
    #nosotros .grillaNosotros .seccionUnoNosotros img {
      max-width: 750px; }
    #nosotros .grillaNosotros .seccionUnoNosotros p {
      width: 455px;
      font-size: 27px;
      font-family: "Open Sans", sans-serif;
      text-align: center; }
  #nosotros .grillaNosotros .seccionDosNosotros {
    grid-area: seccionDosNosotros;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
    padding: 50,0,50,0;
    background-color: black; }
    #nosotros .grillaNosotros .seccionDosNosotros img {
      max-width: 750px; }
    #nosotros .grillaNosotros .seccionDosNosotros p {
      width: 455px;
      font-size: 27px;
      font-family: "Open Sans", sans-serif;
      color: white; }
    #nosotros .grillaNosotros .seccionDosNosotros div {
      text-align: center; }
      #nosotros .grillaNosotros .seccionDosNosotros div button {
        border-radius: 10px;
        background-color: orangered;
        color: white;
        font-size: 15px;
        margin-top: 20px;
        padding: 10px 20px; }
        #nosotros .grillaNosotros .seccionDosNosotros div button:hover {
          transform: scale(1.1); }
  #nosotros .grillaNosotros .seccionTresNosotros {
    grid-area: seccionTresNosotros;
    margin: auto;
    padding: 50px; }

@media (max-width: 576px) {
  .header {
    flex-direction: column;
    align-items: center; }
    .header ul {
      margin-left: auto; }
      .header ul a {
        font-size: 15px; }
  #index .seccionUnoIndex .imgFondoMobile {
    display: block;
    max-width: 100%; }
  #index .seccionUnoIndex .imgFondoDesktop {
    display: none; }
  .seccionUnoSneakers, .seccionDosSneakers {
    flex-direction: column;
    padding: 0px 50px;
    align-items: center; }
    .seccionUnoSneakers img, .seccionDosSneakers img {
      margin: 25px;
      width: 90%; }
    .seccionUnoSneakers h2, .seccionDosSneakers h2 {
      padding: 15px 0px; }
  .grillaTiendas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0, 5fr 1.5fr 1.5fr 0.5fr 0.5fr;
    grid-template-areas: "header header header header" "seccionUnoTiendas seccionUnoTiendas seccionUnoTiendas seccionUnoTiendas" "seccionUnoTiendas seccionUnoTiendas seccionUnoTiendas seccionUnoTiendas" "seccionDosTiendas seccionDosTiendas seccionDosTiendas seccionDosTiendas" "seccionDosTiendas seccionDosTiendas seccionDosTiendas seccionDosTiendas" "asideTiendas asideTiendas asideTiendas asideTiendas" "footer footer footer footer"; }
  .encabezadoTitulo {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); }
  .seccionUnoNosotros {
    flex-direction: column-reverse;
    background-color: black;
    color: white;
    text-align: center;
    height: 100vh; }
    .seccionUnoNosotros img {
      width: 100%; }
    .seccionUnoNosotros p {
      max-width: 370px; }
  .seccionDosNosotros {
    flex-direction: column;
    text-align: center;
    height: 100vh; }
    .seccionDosNosotros img {
      width: 100%; }
    .seccionDosNosotros p {
      max-width: 370px; }
  .seccionTresNosotros iframe {
    width: 100%; }
  .footer {
    flex-direction: column; } }
