@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0; }

#sneakers img {
  max-width: 500px;
  border-radius: 20px;
  box-shadow: 1px 1px rgba(221, 221, 221, 0); }

#sneakers .seccionUnoSneakers, #sneakers .seccionDosSneakers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  text-align: center; }

#sneakers .grillaIndex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1.5fr 1.5fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas: "header header header header" "seccionUnoSneakers seccionUnoSneakers seccionUnoSneakers seccionUnoSneakers" "seccionDosSneakers seccionDosSneakers seccionDosSneakers seccionDosSneakers" "footer footer footer footer"; }
