.header{
    grid-area: header;

    .navbar {
        display: flex;
        background-image: linear-gradient(to left, #434343 0%, black 100%);
        }
        .navbar-collapse{
            justify-content: end;
            a{
                color: white;
                font-family: $typoTitle;
            }
        }
}