#index{
    .grillaIndex {  display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.5fr 1.5fr 1.5fr 1.5fr 0.5fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "header header header header"
          "seccionUnoIndex seccionUnoIndex seccionUnoIndex seccionUnoIndex"
          "seccionUnoIndex seccionUnoIndex seccionUnoIndex seccionUnoIndex"
          "seccionUnoIndex seccionUnoIndex seccionUnoIndex seccionUnoIndex"
          "footer footer footer footer";
      }
      
    .seccionUnoIndex {
        grid-area: seccionUnoIndex;
        display: flex;
        img{
            max-width: 100%;
            display: block;
        }
        div{
            position: absolute;
            margin-top: 250px;
            margin-left: 50px;
            h1{
                font-family: $typoTitle;
                color: white;
                font-size: 100px;
                text-shadow: 1px 1px rgb(152, 152, 152);
            }
            p{
                font-family: $typoParagraph;
                color: white; 
                font-size: 25px;
                max-width: 700px;
                text-shadow: 1px 1px rgb(152, 152, 152);
            }
        }
        
    }
}
