#index{
    .seccionUnoIndex {
        grid-area: seccionUnoIndex;
        display: flex;
        img{
            max-width: 100%;
            display: block;
        }
        div{
            position: absolute;
            margin-top: 250px;
            margin-left: 50px;
            h1{
                font-family: $typoTitle;
                color: white;
                font-size: 100px;
                text-shadow: 1px 1px rgb(152, 152, 152);
            }
            p{
                font-family: $typoParagraph;
                color: white; 
                font-size: 25px;
                max-width: 700px;
                text-shadow: 1px 1px rgb(152, 152, 152);
            }
        }
        
    }
}
