@media(max-width:576px){
    // HEADER MEDIA QUERIES
    .header{
        flex-direction: column;
        align-items: center;
        ul{
            margin-left: auto;
            a{
                font-size: 15px;
            }
        }
    }
    // INDEX MEDIA QUERIES
    #index{
        .seccionUnoIndex{
            .imgFondoMobile{
                display: block;
                max-width: 100%;
            }
            .imgFondoDesktop{
                display: none;
            }
            
        }
    }
    // SNEAKERS MEDIA QUERIES

    .seccionUnoSneakers, .seccionDosSneakers{
        flex-direction: column;
        padding: 0px 50px;
        align-items: center;
        img{
            margin: 25px;
            width: 90%;
        }
        h2{
            padding: 15px 0px;
        }
    }

    //  TIENDAS MEDIA QUERIES

    .grillaTiendas {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 0, 5fr 1.5fr 1.5fr 0.5fr 0.5fr;
        grid-template-areas:
            "header header header header"
            "seccionUnoTiendas seccionUnoTiendas seccionUnoTiendas seccionUnoTiendas"
            "seccionUnoTiendas seccionUnoTiendas seccionUnoTiendas seccionUnoTiendas"
            "seccionDosTiendas seccionDosTiendas seccionDosTiendas seccionDosTiendas"
            "seccionDosTiendas seccionDosTiendas seccionDosTiendas seccionDosTiendas"
            "asideTiendas asideTiendas asideTiendas asideTiendas"
            "footer footer footer footer";
        }

        // NOSOTROS MEDIA QUERIES
        
    .encabezadoTitulo{
        background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    }

    .seccionUnoNosotros{
        flex-direction: column-reverse;
        background-color: black;
        color: white;
        text-align: center;
        height: 100vh;
        img{
            width: 100%;
        }
        p{
            max-width: 370px;
        }

    }
    .seccionDosNosotros{
        flex-direction: column;
        text-align: center;
        height: 100vh;
        img{
            width: 100%;
        }
        p{
            max-width: 370px;
        }
    }
    .seccionTresNosotros iframe{
        width: 100%
    }

    // FOOTER MEDIA QUERIES
    .footer{
        flex-direction: column;
    }
}