#sneakers{
    .sneakersGrilla {
        background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.5fr 1.5fr 1.5fr 0.5fr;
        grid-template-areas:
            "navSneakers navSneakers navSneakers navSneakers"
            "seccionUnoSneakers seccionUnoSneakers seccionUnoSneakers seccionUnoSneakers"
            "seccionDosSneakers seccionDosSneakers seccionDosSneakers seccionDosSneakers"
            "footerSneakers footerSneakers footerSneakers footerSneakers";
            .seccionUnoSneakers, .seccionDosSneakers{
                @extend %contenedoresCards;
                h2{
                    font-family: $typoTitle;
                    padding-top: 25px;
                    &:hover{
                        transform: scale(1.1);
                    }
                }
                img{
                    @extend %styleCards;
                }
            }
    }
 }

    